.w-20dv {
  --width: 20dvw;
  width: var(--width);
}

.w-80dv {
  --width: 80dvw;
  width: var(--width);
}

.w-90dv {
  --width: 90dvw;
  width: var(--width);
}

.w-10dv {
  --width: 10dvw;
  width: var(--width);
}

.w-fixed {
  min-width: var(--width);
  max-width: var(--width);
}

.h-100 {
  height: 100%;
}

.h-100dv {
  --height: 100dvh;
  height: var(--height);
}

.w-100 {
  width: 100%;
}

.w-100dv {
  --width: 100dvw;
  width: var(--width);
}

.h-fixed {
  min-height: var(--height);
  max-height: var(--height);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.absolute {
  position: absolute;
}

.bottom {
  bottom: 0rem;
}

.left {
  left: 0rem;
}


.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--text);
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}


.pixelify-sans-400 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

.pixelify-sans-700 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--text);
}

.text-white {
  color: #fafafa;
}

.text-red {
  color: red;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.text-left {
  text-align: left;
}
